//colors
$blue: #152187;
$white: #ffffff;
$hColor: #273245;
$pColor: #45536b;
* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../../fonts/proxima_ssv/ProximaNova-Regular.otf");
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}
p {
  font-size: 16px;
  line-height: 1.63;
  margin-top: 10px;
  font-family: "Proxima Nova", sans-serif;
}
body {
  font-family: Montserrat, sans-serif;
  background-color: #f7fbff;
}
.overlay {
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #040f48;
  opacity: 0.75;
}
.sidebar-cotnent-nav-list-detail-body-item {
  display: flex;
  align-items: center;
  padding: 8px 5px 8px 12px;
  &:hover {
    background-color: #e7f1fa;
  }
}
.sidebar {
  position: fixed;
  top: 0px;
  background-color: #fff;
  z-index: 101;
  width: 100%;
  right: -100%;
  height: 100%;
  transition: right 0.5s ease-in-out;
  @media (min-width: 750px) {
    width: 327px;
    right: -327px;
  }
  &-content {
    &-closeButton {
      padding: 11px 11px;
      padding-right: 24px;
      text-align: end;
      & > span {
        display: inline-block;
        font-size: 35px;
        transform: rotate(45deg);
        color: #8b98a9;
        cursor: pointer;
      }
    }
    &-nav {
      font-family: "Proxima Nova", sans-serif;
      &-list {
        &-header {
          display: flex;
          justify-content: space-between;
          padding: 17px 24px;
          border-top: 1px solid #cadef9;
          &--last {
            border-bottom: 1px solid #cadef9;
          }
          &--dropdown {
            cursor: pointer;
          }
          &--link,
          & > a,
          & > i {
            color: #45536b;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 0.3px;
            color: #45536b;
          }
          & > i {
            font-size: 11px;
            transition: transform 0.2s;
          }
        }
        &-detail {
          display: block;
          transition: height 0.5s ease-in-out;
          overflow: hidden;
          height: 0px;
          &-header {
            font-family: "Proxima Nova", sans-serif;
            font-size: 14px;
            color: #45536b;
            letter-spacing: 0.3s;
            text-transform: uppercase;
            font-weight: normal;
            padding: 15px 39px;
          }
          &-body {
            margin-left: 39px;
            &-item {
              &-img {
                display: inline-block;
                margin-right: 10px;
                & > img {
                  width: 18px;
                  height: 18px;
                }
              }
              &-name {
                display: inline-block;
                font-family: "Proxima Nova", sans-serif;
                font-size: 14px;
                text-transform: capitalize;
                color: #45536b;
              }
            }
          }
        }
      }
    }
    &-getStarted {
      text-align: center;
      margin-top: 30px;
      & > a {
        display: inline-block;
        color: #fff;
        background-color: #2d67f7;
        padding: 11px 16px;
        text-transform: uppercase;
      }
    }
  }
}
.navbar {
  background-color: $blue;
  height: 72px;
  color: $white;
  top: -200px;
  transition: top 0.5s ease;
  box-shadow: 0 4px 3px 0 rgba(34, 90, 182, 0.12),
    0 0 1px 0 rgba(41, 92, 176, 0.25);
  z-index: 10;
  @media (min-width: 1170px) {
    display: none;
  }
  &-container {
    display: flex;
    padding: 0px 24px;
    justify-content: space-between;
    align-items: center;
    transform: translateY(50%);
    @media (min-width: 970px) {
      padding: 0px 30px;
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &-harmburger {
    & > span {
      display: block;
      width: 18px;
      height: 2px;
      margin-bottom: 3px;
      background-color: #fff;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.dnavbar {
  display: none;
  background-color: $blue;
  height: 72px;

  @media (min-width: 1170px) {
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: -200px;
    transition: top 0.5s ease;
  }
  &-brand {
    margin-right: 30px;
  }
  &-container {
    display: flex;
    position: relative;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-family: "Proxima Nova", sans-serif;
    align-items: center;
  }
  &-list {
    margin-top: 5px;
    &-item {
      display: inline-block;
      margin-right: 25px;
      &:hover > &-dropdown {
        margin-top: 10px;
        opacity: 1;
        visibility: visible;
      }
      &-title {
        margin: 0;
        position: relative;
        &:hover > a,
        &:hover > i {
          opacity: 1;
        }
        & > a {
          text-decoration: none;
          text-transform: uppercase;
          color: $white;
          opacity: 0.8;
          font-size: 14px;
          line-height: 1.63;
          letter-spacing: 1px;
        }
        & > i {
          display: inline-block;
          position: absolute;
          color: $white;
          opacity: 0.8;
          font-size: 10px;
          transform: rotate(-180deg);
          top: 8px;
          right: -15px;
        }
      }

      &-dropdown {
        display: flex; // Transforms to flex when -item-title get hover
        visibility: hidden;
        position: absolute;
        box-shadow: 0 2px 2px 0 rgba(11, 37, 71, 0.2),
          0 0 1px 0 rgba(10, 37, 70, 0.2);
        background-color: #fff;
        margin-top: 0px;
        opacity: 0;
        width: auto;
        transition: all 0.2s;
        border-radius: 3px;
        &-col {
          width: 268px;
          &-header {
            font-size: 14px;
            font-family: Montserrat, sans-serif;
            padding: 10px 20px;
            text-transform: capitalize;
            color: #45536b;
            font-weight: 500;
          }
          &-links {
            & > a {
              display: flex;
              max-width: 268px;
              align-items: center;
              text-decoration: none;
              color: #45536b;
              text-transform: capitalize;
              padding: 8px 20px 8px 12px;
              letter-spacing: 0.3px;
              &:hover {
                background-color: #e7f1fa;
              }
            }
          }
          &-link-img {
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-right: 10px;
            & > img {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
  }
  &-loginOptions {
    margin-top: 5px;
    margin-left: auto;
    &-login,
    &-getStarted {
      text-decoration: none;
      text-transform: uppercase;
      color: $white;
      font-size: 14px;
      line-height: 1.63;
      letter-spacing: 1px;
    }
    &-login {
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
    &-getStarted {
      background-color: #fff;
      color: #2d67f7;
      padding: 12.5px 20.5px;
      margin-left: 23px;
    }
  }
}
.banner {
  background-color: #152187;

  &-container {
    @media (min-width: 970px) {
      display: flex;
      align-items: center;
      overflow: hidden;
      padding-left: 45px;
      padding-right: 45px;
    }
    @media (min-width: 1170px) {
      max-width: 1170px;
      padding-right: 0px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-content {
    padding: 60px 0px 40px;
    color: #fff;
    text-align: center;
    @media (min-width: 970px) {
      text-align: start;
    }
    @media (min-width: 1170px) {
      width: 495px;
    }
    & > h1 {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.5;
      @media (min-width: 750px) {
        font-size: 32px;
      }
    }
    & > p {
      margin-top: 10px;
      @media (min-width: 750px) {
        margin-top: 20px;
        font-size: 18px;
      }
      @media (min-width: 1170px) {
        margin-right: 45px;
      }
      font-size: 16px;
      line-height: 1.63;
    }
    & > a {
      display: inline-block;
      margin-top: 30px;
      @media (min-width: 970px) {
        margin-top: 40px;
      }
      @media (min-width: 1170px) {
        font-size: 16px;
        padding: 15px 39px;
      }
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px 30px;
      color: #0d2187;
      background-color: #fff;
      line-height: normal;
      letter-spacing: 0.3px;
    }
  }
  &-img {
    max-width: 290px;
    @media (min-width: 750px) {
      max-width: 595px;
    }
    @media (min-width: 970px) {
      width: 50%;
      display: flex;
      align-items: center;
      height: 600px;
    }
    margin-left: auto;
    margin-right: auto;
    & > img {
      width: 100%;
      @media (min-width: 970px) {
        width: 640px;
        margin-left: 70px;
      }
    }
  }
}
.logo {
  padding: 50px 24px 0px 24px;
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-img {
    margin: 20px 15px;
    @media (min-width: 750px) {
      margin: 0px 10px 20px;
    }
  }
}
.product {
  padding: 80px 0px;
  text-align: center;
  &-header {
    padding: 0 24px;
    @media (min-width: 750px) {
      max-width: 595px;
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: 970px) {
      max-width: 780px;
    }
    & > h1 {
      text-align: center;
      color: $hColor;
      @media (min-width: 750px) {
        font-size: 32px;
        line-height: 1.38;
        padding: 0 35px;
      }
    }
    & > p {
      text-align: center;
      color: $pColor;
      margin-bottom: 40px;
      @media (min-width: 750px) {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 50px;
      }
    }
  }
  &-content {
    padding: 0px 54px;
    @media (min-width: 750px) {
      padding: 0px 24px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      row-gap: 30px;
    }
    @media (min-width: 970px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1170px) {
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
    }
    &-card {
      display: block;
      position: relative;
      text-decoration: none;
      padding: 30px 30px 40px;
      box-shadow: 0 4px 3px 0 rgba(34, 90, 182, 0.12),
        0 0 1px 0 rgba(41, 92, 176, 0.25);
      border-radius: 10px;
      margin-bottom: 60px;
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
      @media (min-width: 750px) {
        margin-bottom: 30px;
      }
      background-color: #fff;
      &-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &-img {
          margin-right: 20px;
        }
        &-title {
          font-size: 20px;
          font-weight: 600;
          line-height: 1.63;
          color: #273245;
          text-transform: uppercase;
        }
      }
      &-body {
        margin-top: 10px;
        position: static;
        &-description {
          color: #45536b;
        }
        &-arrow {
          display: flex;
          position: absolute;
          background-color: #3d84fe;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          bottom: -30px;
          left: 50%;
          transform: translateX(-50%);
          justify-content: center;
          align-items: center;
          & > img {
            width: 15px;
            height: 25px;
          }
        }
      }
      &:hover {
        box-shadow: 0 10px 10px 0 rgba(34, 90, 182, 0.12),
          0 0 1px 0 rgba(41, 92, 176, 0.25);
      }
    }
  }
}
.htw {
  padding: 0 24px;
  margin-top: 80px;
  text-align: center;
  background-color: #fff;
  &-header {
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    color: #273245;
    @media (min-width: 750px) {
      max-width: 595px;
      & > h1 {
        font-size: 32px;
      }
      & > p {
        margin-top: 20px;
        color: #45536b;
        font-size: 18px;
      }
    }
    @media (min-width: 970px) {
      max-width: 780px;
    }
    @media (min-width: 1170px) {
      max-width: 970px;
    }
  }
  &-description {
    color: #45536b;
    @media (min-width: 750px) {
      font-size: 18px;
    }
  }
  &-content {
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 750px) {
      max-width: 595px;
    }
    @media (min-width: 970px) {
      max-width: 100%;
    }
    @media (min-width: 1218px) {
      max-width: 1170px;
    }
    &-item {
      margin-top: 80px;
      @media (min-width: 970px) {
        display: flex;
        align-items: center;

        &:nth-child(2n) > &-left {
          order: 2;
        }
        &:nth-child(2n) > &-right {
          order: 1;
          text-align: start;
          max-width: 470px;
          margin-right: auto;
        }

        &:nth-child(2n + 1) > &-left {
          margin-left: -160px;
        }

        &:nth-child(2n + 1) &-right {
          text-align: start;
          max-width: 470px;
          margin-left: auto;
        }
      }
      &-img {
        & > img {
          width: 100%;
          @media (min-width: 970px) {
            max-height: 480px;
            max-width: 640px;
          }
          @media (min-width: 1170px) {
            width: 800px;
            height: 600px;
          }
        }
      }
      &-info {
        &-subheader {
          margin-top: 40px;
          margin-bottom: 10px;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 600;
          line-height: 1.71;
          &--yellow {
            color: #ffd739;
          }
          &--green {
            color: #00d4ae;
          }
          &--purple {
            color: #6f4ff6;
          }
        }
        &-header {
          color: #273245;
          @media (min-width: 750px) {
            font-size: 32px;
          }
        }
        &-description {
          color: #45536b;
          @media (min-width: 750px) {
            font-size: 18px;
          }
        }
        &-button {
          display: inline-block;
          margin-top: 30px;
          padding: 10px 20px;
          text-decoration: none;
          font-size: 14px;
          text-transform: uppercase;
          color: #fff;
          font-family: Montserrat, sans-serif;
          background-color: #2d67f7;
        }
      }
    }
  }
}
.testimonial {
  padding: 0px 24px;
  margin-bottom: 80px;
  text-align: center;
  background-color: #fff;

  &-header {
    margin-top: 80px;
    font-size: 20px;
  }

  &-carousel {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: 80px;
    overflow: hidden;
    &-wrapper {
      position: relative;
    }
    &-list {
      position: relative;
      background-color: #fff;
      display: flex;
      width: 500%;
      user-select: none;
      top: 0;
      left: -100%;
      &.shifting {
        transition: left 0.5s ease-out;
      }
      &-item {
        &-container {
          width: 100%;
        }

        max-width: 770px;
        margin-left: auto;
        margin-right: auto;
        &-clientPhoto {
          & > img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
          }
        }
        &-companyLogo {
          margin-top: 20px;
          & > img {
            width: 130px;
            height: 40px;
          }
        }
        &-review {
          margin-top: 20px;
          color: #45536b;
        }
        &-clientName {
          font-family: Montserrat, sans-serif;
          text-transform: capitalize;
          color: #273245;
          line-height: 1.63;
          margin-top: 30px;
          font-weight: 600;
        }
        &-clientPosition {
          font-family: Montserrat, sans-serif;
          color: #8b98a9;
        }
      }
    }
  }
  &-indicator {
    display: none;
    @media (min-width: 1170px) {
      position: absolute;
      top: 50%;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      box-shadow: 0 8px 8px 0 rgba(34, 90, 182, 0.12),
        0 0 1px 0 rgba(41, 92, 176, 0.25);
      background-color: #fff;
      &:hover {
        cursor: pointer;
      }
      & > i {
        color: #3d84fe;
        font-size: 20px;
      }
    }
  }
  &-prev {
    left: calc(50% - 550px);
  }
  &-next {
    right: calc(50% - 550px);
  }
}

.getStarted {
  padding: 80px 24px;
  background-color: #0d2187;
  color: #fff;
  text-align: center;
  &-header {
    line-height: 1.5;
    @media (min-width: 750px) {
      font-size: 32px;
    }
  }
  &-description {
    font-family: "Proxima Nova", sans-serif;
    line-height: 1.63;
    letter-spacing: 0.3px;
    @media (min-width: 750px) {
      font-size: 18px;
    }
  }
  &-button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 30px;
    background-color: #fff;
    color: #0d2187;
    padding: 10px 40px;
    font-size: 14px;
    line-height: normal;
    &:hover {
      cursor: pointer;
    }
  }
}
.footer {
  padding-bottom: 40px;
  background: #fff;
  @media (min-width: 750px) {
    padding-bottom: 0px;
  }
  &-container {
    @media (min-width: 1170px) {
      max-width: 1170px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &-links {
    @media (min-width: 970px) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      padding-bottom: 40px;
      border-bottom: 1px solid #bacee4;
      padding-top: 60px;
    }
    &-item {
      &-header {
        line-height: 1.5;
        font-weight: 600;
        padding: 15px 25px;
        border-bottom: 1px solid #bacee4;
        @media (min-width: 970px) {
          border: none;
        }
        & > i {
          float: right;
          transform: rotate(-180deg);
          width: 20px;
          height: 20px;
          color: #8b98a9;
          font-size: 14px;
          transition: transform 0.2s;
          @media (min-width: 970px) {
            display: none;
          }
        }
      }
      &-content {
        display: block;
        height: 0px;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        padding-left: 45px;
        @media (min-width: 970px) {
          padding-left: 25px;
          display: block;
          height: 100%;
        }
        list-style-type: none;
        //margin-top: 0px;
        @media (min-width: 970px) {
          margin-top: 0px;
        }
        & > li {
          margin-top: 15px;
          &:nth-child(1) {
            margin-top: 35px;
            @media (min-width: 970px) {
              margin-top: 15px;
            }
          }

          & > a {
            font-family: "Proxima Nova", sans-serif;
            text-decoration: none;
            text-transform: capitalize;
            color: #45536b;
            font-size: 16px;
            @media (min-width: 970px) {
              font-size: 14px;
            }
            width: 100%;
            &:hover {
              color: #2d67f7;
            }
          }
        }
      }
      &--last:hover {
        box-shadow: 0 8px 8px 0 rgba(11, 37, 71, 0.2),
          0 0 1px 0 rgba(10, 37, 70, 0.2);
        transition: all 0.2s ease-in-out;
        @media (min-width: 970px) {
          box-shadow: none;
        }
      }
      &:hover {
        cursor: pointer;
        @media (min-width: 970px) {
          cursor: initial;
        }
      }
    }
  }
  &-info {
    @media (min-width: 750px) {
      display: flex;
      justify-content: space-between;
      margin: 0px 24px;
    }
    &-socials {
      text-align: center;
      padding: 40px 0px;
      & > li {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-color: #bacee4;
        position: relative;
        margin-right: 14px;
        border-radius: 3px;
        &:hover {
          background-color: #2d67f7;
          cursor: pointer;
        }
        & > a {
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
          & > img {
            width: 100%;
            display: block;
          }
        }
      }
    }
    &-copyright {
      @media (min-width: 750px) {
        margin: 0px;
        padding: 40px 0px;
      }
      text-align: center;
      font-size: 14px;
      color: #bacee4;
    }
  }
}
