// $xl:"1200px";
// $lg:"992px";
// $md:"768px";
// $sm:"576px";
.Container {
  margin: 0 auto;
  @media (min-width: 375px) {
    max-width: 100%;
  }
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1000px) {
    max-width: 1000px;
  }
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  line-height: 1.2 !important;
}
a {
  text-decoration: none;
}

.hidden-375 {
  display: none;
  @media (max-width: 500px) {
    display: block;
  }
}
.hidden-768 {
  display: block;
  @media (max-width: 768px) {
    display: none;
  }
}
