// $xl:"1200px";
// $lg:"992px";
// $md:"768px";
// $sm:"576px";
.Container {
  margin: 0 auto;
  @media (min-width: 375px) {
    max-width: 375px;
  }
  @media (min-width: 1000px) {
    max-width: 1000px;
  }
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
