.etape3 {
  padding-top: 41px;
  &-container {
    background-color: #f2f4ff;
  }
  &-header {
    padding-top: 53px;
    font-family: Myriad;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #9b99cd;
  }
  &-desc {
    font-size: 16px;
    text-align: center;
    margin: 0 164px;
    margin-bottom: -10px;
    margin-top: 27px;
    line-height: 1.5;
  }
  &-banner {
    position: relative;
    height: 240px;
    &-desc {
      font-family: Myriad;
      font-size: 14px;
      position: absolute;
      z-index: 3;
      top: 66px;
      outline: none;
      border: 5px solid #a4a2c9;
      margin: 0 164px;
      padding: 21px 72px;
      padding-top: 7px;
      background-color: #f2f4ff;
      line-height: 1.5;
      text-align: center;
      & > legend {
        padding: 0 9px;
        color: #a4a2c9;
        font-size: 24px;
        font-weight: bold;
        & > span {
          margin-left: 3px;
        }
      }
    }
  }
  &-subDesc {
    font-size: 28px;
    text-align: center;
    margin-top: -25px;
  }
  &-product {
    margin-top: 52px;
    padding-bottom: 41px;
  }
  &-productList {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      flex: 0 0 10/3 * 10%;
      text-align: center;
      &-title,
      &-desc {
        padding: 0 30px;
      }
      &-title {
        font-family: Myriad;
        font-size: 20px;
        color: #be0f34;
        margin-top: 22px;
      }
      &-desc {
        font-family: Myriad;
        font-size: 14px;
        margin-top: 14px;
        line-height: 1.5;
      }
      &-buy {
        display: inline-block;
        font-family: Myriad;
        background-color: #000;
        color: #fff;
        font-size: 11px;
        padding: 21px 54.5px;
        margin-top: 10px;
      }
    }
  }
}
