@font-face {
  font-family: Gotham;
  src: url("../fonts/GothamMedium.otf");
}
@font-face {
  font-family: Clarin;
  src: url("../fonts/clarins-regular.woff.ttf");
}
@font-face {
  font-family: Myriad;
  src: url("../fonts/MyriadPro-Regular.otf");
}
