@font-face {
  font-family: GothamMedium;
  src: url("../fonts/GothamMedium.otf");
}

@font-face {
  font-family: Clarin;
  src: url("../fonts/clarins-regular.woff.ttf");
}

@font-face {
  font-family: GothamBook;
  src: url("../fonts/GothamBook.otf");
}

@font-face {
  font-family: GothamBold;
  src: url("../fonts/GothamBold.otf");
}

.Container {
  margin: 0 auto;
}

@media (min-width: 375px) {
  .Container {
    max-width: 375px;
  }
}

@media (min-width: 1000px) {
  .Container {
    max-width: 1000px;
  }
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.Header-container {
  background: url("../images/header_banner.png") no-repeat -210px -63px;
  height: 429px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .Header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Header-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 550px;
          flex: 0 0 550px;
}

@media (max-width: 1000px) {
  .Header-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.Header-left > img {
  width: 100%;
}

@media (max-width: 1000px) {
  .Header-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
  }
}

.Header-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 450px;
          flex: 0 0 450px;
}

@media (max-width: 1000px) {
  .Header-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
  }
}

.Header-right-brand {
  text-align: end;
  margin-top: 37px;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 0.7;
}

@media (max-width: 1000px) {
  .Header-right-brand {
    margin-top: 0px;
  }
}

.Header-right-brand > a {
  display: inline-block;
}

.Header-right-subTitle {
  font-family: GothamMedium;
  font-size: 16px;
  color: #be0f34;
  text-transform: uppercase;
  margin-top: 75px;
}

@media (max-width: 1000px) {
  .Header-right-subTitle {
    display: none;
  }
}

.Header-right-title {
  font-family: Clarin;
  margin-top: 10px;
  font-size: 40px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .Header-right-title {
    display: none;
  }
}

.Header-right-desc {
  font-family: GothamBook;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .Header-right-desc {
    display: none;
  }
}

.Banner-container {
  position: relative;
  background: url("../images/banner.png") no-repeat center;
  height: 356px;
  padding: 53px 91px;
}

@media (max-width: 1000px) {
  .Banner-container {
    height: 482px;
    padding: 27px 20px;
  }
}

.Banner-detail {
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 24px 73px;
  text-align: center;
}

@media (max-width: 1000px) {
  .Banner-detail {
    padding: 12px 12px 45px 12px;
  }
}

.Banner-detail-header {
  font-family: Clarin;
  font-size: 35px;
  color: #be0f34;
}

.Banner-detail-desc {
  font-family: GothamBook;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .Banner-detail-desc {
    margin-top: 43px;
  }
}

.Etape {
  padding-top: 41px;
}

.Etape-header {
  font-family: GothamMedium;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #eca647;
}

.Etape-desc {
  font-family: GothamBook;
  font-size: 16px;
  text-align: center;
  margin: 0 164px;
  margin-bottom: -10px;
  margin-top: 27px;
  line-height: 1.5;
}

.Etape-banner {
  position: relative;
  height: 240px;
}

.Etape-banner-imgLeft, .Etape-banner-imgRight, .Etape-banner-textLeft, .Etape-banner-textRight {
  position: absolute;
  top: 0px;
  z-index: 1;
}

.Etape-banner-imgLeft > img, .Etape-banner-imgRight > img, .Etape-banner-textLeft > img, .Etape-banner-textRight > img {
  width: 100%;
}

.Etape-banner-imgLeft {
  left: 91px;
  top: 12px;
}

.Etape-banner-imgRight {
  right: 76px;
}

.Etape-banner-desc {
  font-family: GothamBook;
  font-size: 14px;
  position: absolute;
  z-index: 3;
  top: 50px;
  outline: none;
  border: 5px solid #eca647;
  margin: 0 164px;
  padding: 0px 72px;
  background-color: #fff;
  line-height: 1.5;
  text-align: center;
}

.Etape-banner-desc > legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: GothamBold;
  padding: 0 9px;
  color: #eca647;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: -15px;
}

.Etape-banner-desc > legend > span:nth-child(2) {
  font-size: 47px;
  margin-left: 5px;
}

.Etape-banner-desc > p {
  margin-bottom: 10px;
}

.Etape-banner-textLeft {
  font-family: GothamBook;
  font-size: 12px;
  top: 94px;
  left: 30px;
}

.Etape-banner-textRight {
  font-family: GothamBook;
  font-size: 12px;
  top: 140px;
  right: 50px;
}

.Etape-subDesc {
  font-family: Clarin;
  font-size: 28px;
  text-align: center;
  margin-top: -25px;
}

.Etape-product {
  margin-top: 52px;
  padding-bottom: 41px;
}

.Etape-productList-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Etape-productList-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  text-align: center;
}

.Etape-productList-item-title, .Etape-productList-item-desc {
  padding: 0 30px;
}

.Etape-productList-item-title {
  font-family: GothamMedium;
  font-size: 20px;
  color: #be0f34;
  margin-top: 22px;
}

.Etape-productList-item-desc {
  font-family: GothamBook;
  font-size: 14px;
  margin-top: 14px;
  line-height: 1.5;
}

.Etape-productList-item-buy {
  display: inline-block;
  font-family: GothamMedium;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  padding: 18px 50px;
  margin-top: 10px;
}

.color--green {
  color: #96c59b !important;
}

.color--purple {
  color: #9b99cd !important;
}

.border--green {
  border-color: #96c59b !important;
}

.border--purple {
  border-color: #9b99cd !important;
}

.bg--lightGreen {
  background-color: #f3f9ef !important;
}

.bg--lightPurple {
  background-color: #f2f4ff !important;
}

.etape2-banner-imgRight {
  top: 44px;
}

.etape2-banner-textRight {
  top: 212px;
  right: 55px;
}

@media (max-width: 1000px) {
  .Etape-desc {
    margin: 27px 20px;
  }
  .Etape-banner {
    height: 285px;
  }
  .Etape-banner-imgLeft {
    left: 0;
  }
  .Etape-banner-imgRight {
    right: 0;
  }
  .Etape-banner-desc {
    margin: 0 20px;
    padding: 0px 13px;
    top: 50px;
    padding-bottom: 10px;
  }
  .Etape-banner-textLeft {
    z-index: 5;
    top: 190px;
    left: 50px;
  }
  .Etape-banner-textRight {
    z-index: 5;
    top: 191px;
    left: 170px;
  }
}

.About {
  position: relative;
}

.About-container {
  background: url("../images/about_1.png") no-repeat;
  padding-top: 175px;
}

.About-content {
  z-index: 3;
  margin: 0 40px;
  background-color: #fff;
}

.About-content-logo {
  text-align: center;
}

.About-content-logo > img {
  display: inline-block;
  margin-top: 16px;
}

.About-content-header {
  font-family: Clarin;
  font-size: 35px;
  color: #be0f34;
  text-align: center;
}

.About-content-ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0px 40px;
  margin-top: 25px;
}

.About-content-ad-desc {
  background-color: #fce292;
  padding: 30px 20px;
}

.About-content-ad-desc > p {
  font-family: GothamBook;
  font-size: 16px;
  line-height: 1.5;
}

.About-content-ad-desc > p:nth-child(1) {
  margin-bottom: 16px;
}

.About-content-ad-video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 458px;
          flex: 0 0 458px;
}

@media (max-width: 1000px) {
  .About-container {
    height: 175px;
  }
  .About-content {
    margin-left: 20px;
    margin-right: 20px;
  }
  .About-content-ad {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .About-content-ad-desc {
    margin-top: -94px;
  }
  .About-content-ad-video {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 224px;
            flex: 0 0 224px;
  }
}

.footer-container {
  padding: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 408px;
          flex: 0 0 408px;
}

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 41px;
}

.footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.footer-header-text {
  font-family: Clarin;
  font-size: 35px;
  color: #be0f34;
  margin-right: 60px;
}

.footer-header-img {
  margin-top: -5px;
  margin-right: -20px;
}

.footer-desc {
  font-family: GothamBook;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.footer-details {
  font-family: GothamBook, GothamMedium;
  background-color: #f0cfba;
  padding: 41px;
  font-size: 16px;
  line-height: 1.3;
}

.footer-details > p:nth-child(1) {
  margin-bottom: 20px;
}

.footer-details > p:nth-child(2) {
  font-weight: bold;
}

@media (max-width: 1000px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-left {
    padding-right: 0;
  }
  .footer-header-text {
    margin-right: 0;
    text-align: start;
    margin-bottom: 20px;
  }
  .footer-desc {
    margin-bottom: 20px;
  }
  .footer-details {
    margin-bottom: 8px;
  }
  .footer-header-img {
    display: none;
  }
}

@media (max-width: 1000px) {
  .carousel {
    width: 375px;
    overflow: hidden;
    position: relative;
    width: 375px;
  }
  .carousel > div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 10000px;
    left: 0px;
    -webkit-transition: left 0.2s ease-out;
    transition: left 0.2s ease-out;
  }
  .carousel > div > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 375px;
            flex: 0 0 375px;
  }
  .carousel-dots {
    text-align: center;
    margin-top: 20px;
  }
  .carousel-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin-right: 10px;
  }
  .carousel-dot:hover {
    cursor: pointer;
  }
  .carousel-dot--active {
    background-color: #000;
  }
}
/*# sourceMappingURL=styles.css.map */