$contactBgColor: #343a40;
@font-face {
  font-family: QuickSan;
  src: url("../fonts/Quicksand-Regular.ttf");
}
html {
  font-family: QuickSan, sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: 400;
}
body {
  line-height: 1.7;
  position: relative;
  font-size: 1rem;
}
*::selection {
  background-color: #333;
  color: #fff;
}
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1280px;
.container {
  width: calc(100% - 16px);
  margin: auto;

  @media screen and (min-width: $sm) {
    width: 540px;
  }

  @media screen and (min-width: $md) {
    width: 720px;
  }

  @media screen and (min-width: $lg) {
    width: 960px;
  }

  @media screen and (min-width: $xl) {
    width: 1140px;
  }
}

.contact-container {
  background-color: #343a40;
}
.contact {
  color: #4d4d4d;
  padding: 8px 0px;
  @media (min-width: 1024px) {
    display: flex;
    padding-left: auto;
    padding-right: auto;
    justify-content: space-between;
  }
  &-item {
    padding: 0px 15px;
  }
  &-item1 {
    display: flex;
    & > div > strong {
      font-weight: bold;
    }
    @media (min-width: 1024px) {
      padding-left: 0px;
    }
    & > div > strong {
      color: #fff;
      letter-spacing: 0.3px;
    }
    & > div {
      margin-right: 16px;
    }
    & > div > a {
      text-decoration: none;
      color: #32dbc6;
      letter-spacing: 0px;
      &:hover {
        color: #1da493;
      }
    }
  }
  &-item2 {
    text-align: end;
    & > a {
      color: #32dbc6;
      padding: 8px;
      &:hover {
        color: #1da493;
      }
    }
  }
}
.navbar-container {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(176, 176, 176, 1);
  position: sticky;
  top: 0px;
  z-index: 10;
}
.navbar {
  &--decrease {
    padding: 7px 0px !important;
  }
  display: flex;
  padding: 21px 0px !important;
  justify-content: space-between;
  z-index: 30;
  transition: padding 0.4s ease;
  @media (min-width: 1024px) {
    padding-right: auto;
    padding-left: auto;
    align-items: center;
  }
  & > a {
    text-decoration: none;
    color: #000000;
  }
  & > * {
    font-size: 32px;
    margin: 0px;
  }
  &-brand {
    margin: 0px;
    font-size: 32px;
    text-transform: capitalize;
    position: relative;
    & > span {
      display: inline-block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #32dbc6;
      margin-left: -3px;
      position: absolute;
      bottom: 16px;
      right: -4px;
    }
  }
  &-barsButton {
    &:hover {
      cursor: pointer;
    }
    @media (min-width: 1024px) {
      display: none;
    }
  }
  @media (max-width: 991px) {
    .rotate {
      transform: rotate(-180deg);
      transition: 0.3s ease-in-out;
      color: #32dbc6;
    }
  }
  &-menu {
    display: block;
    z-index: 2;
    position: fixed;
    top: 0px;
    width: 65%;
    right: -75%; //hide navbar on mobile devices -75%
    height: 100vh;
    background-color: #fff;
    list-style-type: none;
    padding: 50px 15px 15px 40px;
    box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    transition: right 0.3s ease-in;
    @media (min-width: 1024px) {
      display: flex;
      position: static;
      width: auto;
      height: 100%;
      padding: 0px;
      box-shadow: none;
    }
    &-item {
      @media (min-width: 1024px) {
        display: flex;
        @media (max-width: 991px) {
          font-size: 20px;
        }
        & a[href="#about"] {
          &:hover ~ i {
            color: #32dbc6;
          }
        }
      }
      & a {
        text-decoration: none;
        font-size: 16px;
        color: #000;
        padding: 5px 17px;
        &:hover {
          color: #32dbc6;
        }
      }
      &--active {
        & a {
          color: #32dbc6;
          & i {
            color: #32dbc6;
          }
        }
      }
      &-aboutChevron {
        display: inline-block;
        color: #212529;
        font-size: 10px;
        margin-left: auto;
        transition: transform 0.8s;
        @media (min-width: 1024px) {
          margin-left: 5px;
        }
        @media (max-width: 991px) {
          margin-left: 80px;
        }
      }
      &-aboutWrapper {
        display: inline-flex;
        align-items: center;
        @media (max-width: 991px) {
          width: 100%;
          justify-content: space-between;
        }
        & > i {
          margin-left: -10px;
        }
      }
      &--about {
        position: relative;
        transition: 0.2s 0s;
      }

      @media (min-width: 1024px) {
        &--about:hover &-subMenu {
          visibility: visible;
          opacity: 1;
          top: 36px;
        }
      }
      &-subMenu {
        list-style-type: none;
        display: block;

        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
        @media (max-width: 991px) {
          max-height: 0px;
          &--open {
            max-height: 200px !important;
          }
        }

        @media (min-width: 1024px) {
          width: 200px !important;
          display: block;
          visibility: hidden;
          opacity: 0;
          padding: 0;
          position: absolute;
          z-index: 3;
          top: 46px;
          right: -120px;
          text-align: start;
          box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
          background-color: #fff;
          border-top: 2px solid #32dbc6;
          width: 170%;
          transition: 0.2s all;
          margin-top: 15px;
        }
        & > li {
          & > a {
            text-decoration: none;
            font-size: 16px;
            color: #212529;
            &:hover {
              color: #212529;
            }
          }
          &:hover {
            cursor: pointer;
            background-color: #f4f5f9;
          }
        }
      }
      &:nth-child(1) {
        color: #999999;
        text-align: end;
        margin-right: 15px;
        //close button
        & i {
          &:hover {
            color: #000;
            cursor: pointer;
          }
        }
        @media (min-width: 1024px) {
          display: none;
        }
      }
    }
  }
}

.intro {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: url("../images/hero_1.jpg") no-repeat;
  background-attachment: fixed;
  background-position: 50% 25px;
  height: 100vh;
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }

  &-content {
    width: 100%;
    z-index: 3;
    text-align: center;
    color: #ffffff;
    margin-top: 15%;
    &-slogan {
      white-space: wrap;
      margin: 0 auto;
      text-transform: capitalize;
      font-size: 32px;
      @media (min-width: 1024px) {
        font-size: 48px;
      }
      margin-right: 20px;
      margin-left: 20px;
      & > span {
        border-right: 2px solid #fff;
        padding-right: 2px;
        animation: blink-caret 0.75s step-end infinite;
        @keyframes blink-caret {
          from,
          to {
            border-color: transparent;
          }
          50% {
            border-color: #fff;
          }
        }
      }
    }
    &-offer {
      font-size: 19.2px;
      margin-bottom: 48px;
      & > a {
        color: #32dbc6;
        text-decoration: none;
        &:hover {
          color: darken(#32dbc6, 20%);
        }
      }
    }
    &-watchVideoButton {
      display: inline-block;
      text-decoration: none;
      color: #000000;
      text-transform: uppercase;
      background-color: #32dbc6;
      padding: 15px 30px;
      font-size: 12px;
      border-radius: 30px;
      &:hover {
        background-color: darken(#32dbc6, 20%);
        color: darken(#fff, 20%);
      }
    }
  }
}

.service {
  padding: 32px;
  color: #4d4d4d;
  @media (min-width: 768px) {
    padding: 47px;
    display: flex;
    flex-wrap: wrap;
  }
  @media (min-width: 1024px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &-innovate,
  &-create,
  &-scale {
    &-header {
      position: relative;
      text-transform: capitalize;
      color: #32dbc6;
      font-size: 32px;
      margin-bottom: 8px;
      &-behindNumber {
        color: #f2f4f5;
        position: absolute;
        font-size: 128px;
        z-index: -1;
        top: -64px;
        left: -48px;
        font-weight: bold;
      }
    }
    &-description {
      margin-bottom: 24px;
    }
    &-warranty {
      list-style-type: none;
      padding: 0;
      margin-bottom: 50px;
      &-item {
        margin-bottom: 15px;
        text-transform: capitalize;
        @media (min-width: 1024px) {
          margin-bottom: 15px;
        }
      }
      &-item > i {
        color: #32dbc6;
        padding-right: 16px;
      }
    }
    @media (min-width: 768px) {
      margin-right: 32px;
      &:nth-child(2n) {
        margin-right: 0px;
      }
      width: calc((100% - 32px) / 2);
    }
    @media (min-width: 1024px) {
      margin-right: 45px;
      &:nth-child(2n) {
        margin-right: 45px;
      }
      &:nth-child(3n) {
        margin-right: 0px;
      }
      width: calc((100% - 45px * 2) / 3);
    }
  }
}

.ourWork {
  text-align: center;
  padding: 0px 15px;
  padding-top: 80px;
  &-header {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight: 500;
    line-height: 1.2;
    @media (min-width: 768px) {
      font-size: 48px;
    }
  }
  &-intro {
    font-size: 20px;
    margin-bottom: 60px;
    color: #4d4d4d;
    @media (min-width: 1024px) {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      font-weight: 300;
      line-height: 1.7;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    @media (min-width: 1024px) {
      margin-bottom: 80px;
    }
    &-item {
      margin-bottom: 30px;
      @media (min-width: 768px) {
        margin-right: 30px;
        &:nth-child(2n) {
          margin-right: 0px;
        }
        width: calc((100% - 30px) / 2);
      }
      @media (min-width: 1024px) {
        &:nth-child(2n) {
          margin-right: 30px;
        }
        &:nth-child(3n) {
          margin-right: 0px;
        }
        width: calc((100% - 30px * 2) / 3);
      }
      &-container {
        position: absolute;
        background-color: #333;
        width: 100%;
        height: 100%;
      }
      &-img {
        position: relative;
        overflow: hidden;
        &-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          background-color: rgba(#000000, 0.8);
          width: 100%;
          height: 100%;
          top: 0px;
          opacity: 0;
          &-title {
            margin-top: 30px;
            font-size: 24px;
            color: #ffffff;
            font-weight: bold;
            margin-bottom: 0px;
            opacity: 0;
            transition: all 0.4s ease-in-out;
          }
          &-category {
            margin-top: 10px;
            font-size: 13px;
            opacity: 0;
            color: #999999;
            text-transform: uppercase;
            word-spacing: 4px;
            letter-spacing: 3px;
            transition: all 0.3s ease-out;
            transition-delay: 0.09s;
          }
          &:hover {
            opacity: 1;
          }
          &:hover &-title {
            opacity: 1;
            margin-top: 0px;
          }
          &:hover &-category {
            opacity: 1;
            margin-top: 0px;
          }
        }
        & > img {
          width: 100%;
          transition: transform 0.5s ease;
          object-fit: cover;
        }
        &:hover img {
          transform: scale(1.2);
        }
      }
    }
  }
}

.about {
  padding-bottom: 80px;
  &-container {
    background-color: #000000;

    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 15px;
    flex-grow: wrap;
    align-items: center;
    @media (max-width: 991px) {
      flex-direction: column;
      max-width: 720px;
    }
  }
  &-img {
    flex: 0 0 5/12 * 100%;
    padding: 0 15px;
    margin-bottom: 24px;
    & > img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &-content {
    flex: 0 0 3/12 * 100%;
    padding: 0 15px;
    &--ml {
      margin-left: auto;
      @media (max-width: 991px) {
        margin-left: 0px;
      }
    }
    &-item {
      &:nth-child(1) {
        margin-bottom: 48px;
      }
      &--mb {
        @media (max-width: 991px) {
          margin-bottom: 48px !important;
        }
      }
    }

    color: #fff;
    list-style-type: none;
    padding: 0;
    &-item {
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
      &-title {
        & > i {
          padding-right: 10px;
        }
        font-size: 18px;
        margin-bottom: 8px;
        line-height: 1.2;
        font-weight: 500;
      }

      &-description {
        font-size: 16px;
        color: #737373;
        margin-bottom: 16px;
      }
      &-readMoreButton {
        font-size: 16px;
        color: #ffff;
        margin-bottom: bottom;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.testimonial {
  @media (min-width: 1024px) {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  &-header {
    font-size: 40px;
    text-align: center;
    @media (min-width: 1024px) {
      padding-bottom: 20px;
    }
    @media (min-width: 768px) {
      font-size: 48px;
    }
  }
  &-slider {
    width: 100%;
    overflow: hidden;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    &-slides {
      width: 400%;
      display: flex;
      transition: transform 0.5s ease;
      &-item {
        display: flex;
        flex-direction: column;
        width: 100%;

        & > div {
          max-width: 800px;
          margin: 0 auto;
          user-select: none;
        }
        &-review {
          color: #4d4d4d;

          @media (min-width: 1024px) {
            margin-bottom: 48px;
            font-size: 24px;
            text-align: center;
            line-height: 1.7;
            font-weight: 400;
            font-style: italic;
          }
        }
        &-author {
          display: flex;
          align-items: center;
          justify-content: center;
          &-avatar {
            margin-right: 16px;
            & > img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          }
          &-name {
            color: #4d4d4d;
          }
        }
      }
    }
  }
  &-indicator {
    text-align: center;
    margin-top: 16px;
    & > div {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #dee2e6;
      border-radius: 50%;
      margin-right: 5px;
      &[class="active"] {
        background-color: #32dbc6;
      }
      &:hover {
        background-color: #32dbc6;
        cursor: pointer;
      }
    }
  }
}

hr {
  border-top: 1px solid #dee2e6;
}
.ourService {
  padding: 16px;
  padding-top: 0px;
  @media (min-width: 1024px) {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  &-header {
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    @media (min-width: 1024px) {
      margin-bottom: 68px;
    }
    @media (min-width: 768px) {
      font-size: 48px;
    }
  }
  &-content {
    &-item {
      @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
      }
      &-container {
        display: flex;
        margin-right: 30px;
        &:nth-child(2n) {
          margin-right: 0px;
        }

        @media (min-width: 990px) {
          width: calc((100% - 30px) / 2);
        }
        @media (min-width: 1024px) {
          &:nth-child(2n) {
            margin-right: 30px;
          }
          &:nth-child(3n) {
            margin-right: 0px;
          }
          width: calc((100% - 30px * 2) / 3);
        }
        &-left {
          width: 20%;
          color: #32dbc6;
          font-size: 20px;
          & > h4 {
            float: right;
            margin-right: 15px;
            & > i {
              @media (min-width: 1024px) {
                font-size: 35px;
              }
            }
          }
        }
        &-right {
          &-header {
            font-size: 20px;
            color: #4d4d4d;
            margin-bottom: 8px;
          }
          &-content {
            color: #606060;
            margin-bottom: 16px;
          }
          &-learnMore {
            text-decoration: none;
            color: #32dbc6;
            margin-bottom: 16px;
            &:hover {
              color: darken(#32dbc6, 20%);
            }
          }
        }
      }
    }
  }
}

.aboutUs {
  padding: 30px 15px 15px 15px;
  padding-bottom: 80px;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
  }
  @media (min-width: 1024px) {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    & > div {
      &:nth-child(1) {
        flex-grow: 0;
        flex-basis: 5/12 * 100%;
        margin-left: auto;
      }
      &:nth-child(2) {
        flex-grow: 0;
        flex-basis: 6/12 * 100%;
      }
    }
  }
  &-img {
    padding: 0px 15px;
    & > img {
      width: 100%;
    }
  }
  &-content {
    color: #4d4d4d;
    @media (min-width: 1024px) {
      &-row {
        display: flex;
        flex-wrap: wrap;
      }
      &-col {
        flex-grow: 1;
        flex-basis: 50%;
        padding: 0 15px;
        &:nth-child(1) {
          padding-left: 0px;
        }
      }
    }
    &-header {
      font-size: 40px;
      color: #000;
      @media (min-width: 1024px) {
        padding-bottom: 24px;
        font-size: 48px;
      }
    }
    &-description {
      @media (min-width: 1024px) {
        margin-bottom: 31px;
      }
    }
    &-icon {
      font-size: 40px;
      margin: 0px 24px 16px 0px;
      color: #6c757d;
    }
    &-subHeader {
      font-size: 20px;
      color: #4d4d4d;
      @media (min-width: 1024px) {
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 8px;
      }
    }
    &-subDescription {
      @media (min-width: 1024px) {
        line-height: 1.2;

        margin-bottom: 16px;
      }
    }
    &-learnMore {
      display: inline-block;
      text-decoration: none;
      color: #32dbc6;
      margin-bottom: 5px;
      &:hover {
        color: darken(#32dbc6, 20%);
      }
    }
  }
}

.ourTeam {
  padding: 15px;
  padding-top: 0px;
  @media (min-width: 1024px) {
    padding-bottom: 80px;
  }
  &-header {
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    @media (min-width: 768px) {
      font-size: 48px;
    }
  }
  &-content {
    text-align: center;
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
    @media (min-width: 1024px) {
    }
    &-item {
      @media (min-width: 768px) {
        margin-right: 30px;
        &:nth-child(2n) {
          margin-right: 0px;
        }
        width: calc((100% - 30px) / 2);
      }
      @media (min-width: 1024px) {
        margin-right: 30px;
        &:nth-child(2n) {
          margin-right: 30px;
        }
        &:nth-child(3n) {
          margin-right: 0px;
        }
        width: calc((100% - 30px * 2) / 3);
      }
      &-img {
        @media (min-width: 1024px) {
          margin-bottom: 48px;
        }
        & > img {
          width: 217px;
          height: 217px;
          border-radius: 50%;
          margin-top: 15px;
        }
      }

      &-name {
        font-size: 18px;
        margin-bottom: 0px;
        @media (min-width: 1024px) {
          margin-bottom: 8px;
        }
      }
      &-jobTitle {
        text-transform: uppercase;
        font-size: 10px;
        color: #948f8f;
        @media (min-width: 1024px) {
          margin-bottom: 16px;
        }
      }
      &-description {
        @media (min-width: 1024px) {
          margin-bottom: 24px;
        }
      }
      &-social {
        & > a {
          color: #777777;
          margin-right: 5px;
          & > i {
            font-size: 27px;
          }
          &:hover {
            color: darken(#777777, 20%);
          }
        }
      }
    }
  }
}

.blog {
  padding: 30px;
  @media (min-width: 1024px) {
    padding-bottom: 80px;
  }
  &-header {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 68px;
    @media (min-width: 768px) {
      font-size: 48px;
    }
  }

  &-content {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      @media (min-width: 768px) {
        margin-right: 30px;
        &:nth-child(2n) {
          margin-right: 0px;
        }
        width: calc((100% - 30px) / 2);
      }
      @media (min-width: 1024px) {
        margin-right: 30px;
        &:nth-child(2n) {
          margin-right: 30px;
        }
        &:nth-child(3n) {
          margin-right: 0px;
        }
        width: calc((100% - 30px * 2) / 3);
      }
      &-img {
        & > a {
          & > img {
            width: 100%;
            margin-bottom: 30px;
          }
        }
      }
      &-title {
        display: inline-block;
        font-size: 20px;
        color: #32dbc6;
        text-decoration: none;
        line-height: 1.2;
        font-weight: 500;
        margin-bottom: 8px;
        &:hover {
          color: darken(#32dbc6, 20%);
        }
      }
      &-info {
        list-style-type: none;
        padding: 0px;
        @media (min-width: 1024px) {
          margin-bottom: 24px;
        }
        & > li {
          color: #b3b3b3;
          font-size: 14px;
          display: inline;
          &:nth-child(2n) {
            padding: 0px 5px;
          }
          & > a {
            color: #32dbc6;
            text-decoration: none;
            &:hover {
              color: darken(#32dbc6, 20%);
            }
          }
        }
      }
      &-description {
        color: #4d4d4d;
        margin-bottom: 16px;
      }
      &-contReading {
        display: inline-block;
        margin-bottom: 16px;
        text-decoration: none;
        color: #32dbc6;
        &:hover {
          color: darken(#32dbc6, 20%);
        }
      }
    }
  }
}
.contactUs {
  background-color: #f8f9fa;
  padding: 80px 0px;
  &-container {
    max-width: 1140px;
    @media (max-width: 990px) {
      max-width: 720px;
    }
    margin: 0 auto;
  }
  &-header {
    font-size: 40px;
    padding-bottom: 20px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 48px;
    }
  }
  &-body {
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    &-col {
      padding: 0px 15px;
      &:nth-child(1) {
        flex-grow: 7;
        flex-basis: 7/12 * 100%;
      }
      &:nth-child(2) {
        flex-grow: 5;
        flex-basis: 5/12 * 100%;
      }
    }
    &-address {
      padding: 24px;
      background-color: #fff;
      &-title {
        color: #4d4d4d;
        font-size: 16x;
        line-height: 1.7;
        font-weight: bold;
      }
      &-content {
        margin-bottom: 24px;
        color: #32dbc6;
      }
      & > p {
        &:nth-child(2) {
          color: #4d4d4d;
        }
      }
    }
  }
  &-form {
    padding: 48px;
    background-color: #fff;
    &-header {
      font-size: 24px;
      margin-bottom: 48px;
      line-height: 1.2;
      font-weight: 500;
      text-transform: capitalize;
    }
    &-name {
      display: flex;
      margin-bottom: 16px;

      @media (max-width: 768px) {
        flex-direction: column;
      }
      & > div {
        flex-grow: 1;
        flex-basis: 50%;
        padding: 0 15px;
        & > input {
          width: 100%;
          padding: 6px 12px;
          border: 1px solid #ced4da;
          font-size: 16px;
          line-height: 1.5;
          border-radius: 30px;
          height: 43px;
          outline: none;
          &:focus {
            border-color: #32dbc6;
          }
        }
        & > label {
          display: inline-block;
          margin-bottom: 8px;
        }
      }
    }
    &-email,
    &-subject,
    &-message {
      padding: 0 15px;
      margin-bottom: 16px;
      & > input,
      & > textarea {
        width: 100%;
        padding: 6px 12px;
        border: 1px solid #ced4da;
        font-size: 16px;
        line-height: 1.5;
        border-radius: 30px;
        height: 43px;
        outline: none;
        &:focus {
          border-color: #32dbc6;
        }
      }
      & > textarea {
        height: 182px;
        resize: vertical;
        min-height: 43px;
      }
      & > label {
        display: inline-block;
        margin-bottom: 8px;
      }
    }
    &-invalidAlert {
      font-size: 12px;
      color: red;
      margin-top: 4px;
      &--hide {
        display: none;
      }
    }
    &-submitBtn {
      padding: 15px 30px;
      background-color: #32dbc6;
      margin-left: 15px;
      border: none;
      border-color: #32dbc6;
      font-weight: 400;
      line-height: 1.5;
      text-transform: uppercase;
      text-align: center;
      border-radius: 30px;
      color: #fff;
      &:hover {
        background-color: #22c4b0;
        cursor: pointer;
      }
    }
  }
}
.letsGetStarted {
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #32dbc6;
  color: #fff;
  font-size: 32px;
  padding: 48px 0px;
  &:hover {
    background-color: darken(#32dbc6, 20%);
  }
}
footer {
  background-color: #333333;
  padding-bottom: 128px;
}
.footer {
  background-color: #333333;
  padding: 15px;
  &-copyright {
    padding-top: 48px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: #737373;
    font-size: 16px;
    & > p > i {
      color: #f23a2e;
    }
    & > p > a {
      text-decoration: none;
      color: #999;
      &:hover {
        color: #fff;
      }
    }
  }
  @media (min-width: 1024px) {
    padding-top: 128px;
  }
  color: #5c5c5c;
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    &-aboutUs {
      width: 40%;
    }
    &-feature,
    &-followUs,
    &-subscribe {
      margin-left: 32px;
      width: calc((60%-32px * 3)) / 3;
    }
  }
  @media (min-width: 1024px) {
  }
  &-aboutUs,
  &-feature,
  &-followUs,
  &-subscribe {
    &-header {
      font-size: 16px;
      color: #fff;
      font-weight: normal;
      @media (min-width: 1024px) {
        margin-bottom: 24px;
      }
    }
    &-content {
      color: #737373;
    }
  }
  &-feature-content,
  &-followUs-content {
    list-style-type: none;
    padding: 0px;
    &-item {
      margin-bottom: 10px;
      padding-right: 16px !important;
      & > a {
        text-decoration: none;
        color: #737373;
        &:hover {
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  &-followUs-content-item {
    display: inline;
    padding-right: 32px;
    @media (min-width: 768px) {
      padding-right: 5px;
    }
  }
  &-subscribe {
    &-header {
      margin-bottom: 24px;
    }
    &-form {
      display: flex;
      & > input[type="email"] {
        width: 80%;
        display: inline-block;
        outline: none;
        padding: 13px 12px;
        background-color: #333;
        border-radius: 26px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 1px solid #5c5c5c;
        color: #fff;
        margin-right: -8px;
      }
      &-send {
        display: inline-block;
        padding: 13px 12px;
        border-radius: 26px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: #32dbc6;
        color: #fff;
        border: 0.5px solid #32dbc6;
        &:hover {
          background-color: darken(#32dbc6, 20%);
          cursor: pointer;
        }
      }
    }
  }
}
